<article class="post card text-center bg-dark btn-no-style">
  <div class="title list-group list-group-flush btn-no-style">
    <a class="btn-no-style" href="{{post_url}}" target="_blank">{{title}}</a>
    <span>({{format_url post_url}})</span>
  </div>
  <div id="postNumber"class="meta list-group-item bg-warning">
    {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}" class="btn btn-primary ">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>