<article class="project post card text-center bg-dark btn-no-style">
  <div class="title list-group list-group-flush btn-no-style">
    <a class="btn-no-style" href="/project/{{id}}">{{title}}</a>
    <span>({{customer_name}})</span>
  </div>
  <div id="projectNumber"class="meta list-group-item bg-warning">
    <a href="/project/{{id}}" class="btn btn-primary ">{{tasks.length}} tasks</a>
  </div>
</article>